
$primary: #E32D3D;
$secondary: #63141b;
$bg: #0d0607;
$bg-alt: #1a0d0e;

$tablet: 768px;
$desktop: 992px;

html, body{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
    background-color: $bg;
}

header{
    background-color: $bg-alt;
    display: grid;
    grid-template-columns: 6fr 3fr 1fr;
    align-items: center;
    justify-items: center;

    img{
        padding: 15px;
        width: 50vw;
    }

    a {
        grid-column-start: 3;
        
        i{
            color: $primary;
        }
    }


    .showMenu{
        .nav-link {
            opacity: 1;
            margin-left: 10px;
            margin-right: 10px;
            padding: 8px;
            display: block;
        
        &:hover{
            background-color: red;
        }
        }
    }

    nav{
        .nav-link{
            display: none;
            text-decoration: none;
            color: white;
            font-size: 24px;
        }

        .submenu{
            .nav-link-sub{
                margin-left: 25px;
            }
        }

    }
}

// DESKTOP

/* .submenu {
    .nav-link-sub {
        display: none;
        margin-left: 25px;
    }

    &:hover .nav-link-sub {
        display: block;
    }
} */
