header {
  background-color: #1a0d0e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 3fr 1fr;
      grid-template-columns: 6fr 3fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header img {
  padding: 15px;
  width: 50vw;
}

header a {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

header a i {
  padding: 15px;
  color: #E32D3D;
}

header .showMenu .nav-link {
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  display: block;
}

header .showMenu .nav-link:hover {
  color: #E32D3D;
}

header nav .nav-link {
  display: none;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

header nav .submenu .nav-link-sub {
  margin-left: 25px;
}

@media only screen and (max-width: 775px) {
  .fa-chevron-down {
    font-size: 0;
  }
}

@media only screen and (min-width: 776px) {
  header img {
    padding: 15px;
    width: 30vw;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media only screen and (min-width: 992px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 8fr;
        grid-template-columns: 2fr 8fr;
  }
  header img {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    margin-left: 15px;
    width: 100%;
  }
  header .fa-bars {
    font-size: 0;
    pointer-events: none;
  }
  header .showMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    text-align: center;
  }
  header .showMenu .nav-link {
    margin: 0;
    font-size: 16px;
    display: inline;
  }
  header nav a,
  header nav .submenu {
    border-right: 1px solid white;
  }
  header nav .submenu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  header nav .submenu .nav-link {
    margin: 0;
    text-align: center;
    border: none;
  }
  header nav .submenu .nav-link-sub {
    display: none;
    margin: 0px;
    padding: 10px;
  }
  header nav .submenu:hover .nav-link-sub {
    display: block;
  }
  header nav .submenu-container {
    background: #1a0d0e;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 100%;
    left: 0px;
  }
}

body {
  color: white;
}

p, a {
  font-size: .75rem;
}

h1, h2 {
  font-size: 1.063rem;
}

h3 {
  font-size: 1rem;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  background-color: #0d0607;
}

main .spotlight {
  position: relative;
  background: #63141b;
  margin: 14px;
  margin-top: 90px;
}

main .spotlight img {
  aspect-ratio: 16/9;
  width: 100%;
}

main .spotlight .label {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 100%;
  background: #E32D3D;
  padding: 5px;
}
/*# sourceMappingURL=index.css.map */